/*general*/
*{
    box-sizing : border-box;
    font-family : "Roboto", sans-serif;
}
body{
    margin : 0px;
    padding : 0px;
}
/* header navigation links*/
header{
    height: 600px;
    background-color: #4d94e4;
    padding-top : 20px;
}
header > nav {
    text-align : right;
    padding-right : 40px;
}
header > nav > ul > li {
    display : inline-block;
    color : #ffffff;
    cursor : pointer;
    margin-left : 30px;
}
header > nav > ul > li > a:hover {
    color:#b7d4f5;
}
header > nav > ul > li > a{
    color: white;
    font-weight : 700;
    text-decoration : none;

}
.signup-btn{
    background-color :  white;
    border-radius : 30px;
    text-align: center;
    height: 50px;
    width: 130px;
    line-height: 50px;
}
.signup-btn:hover{
    background-color: #b7d4f5;
}
.signup-btn > a, .signup-btn > a:hover{
    margin: auto;
    color : #4d94e4;
}



/*logo designing*/
.logo{
    width: 280px;
    display: inline-block;
    float: left;
    padding-left: 40px;
}
.logo:hover{
    opacity: 0.5;
    cursor : pointer;
}