/*general*/
*{
    box-sizing : border-box;
    font-family : "Roboto", sans-serif;
}
body{
    margin : 0px;
    padding : 0px;
}
/*----------------header section starts---------------*/

/* header navigation links*/
header{
    height: 700px;
    background-color: #4d94e4;
    background: url('../img/home-background.jpg');
    background-size: cover;
    padding-top : 20px;
    position: relative;/*to use position absolute in it*/
}
header > nav {
    text-align : right;
    padding-right : 40px;
}
header > nav > ul > li {
    display : inline-block;
    color : #ffffff;
    cursor : pointer;
    margin-left : 30px;
}
header > nav > ul > li > a:hover {
    color:#b7d4f5;
}
header > nav > ul > li > a{
    color: white;
    font-weight : 700;
    text-decoration : none;

}
.signup-btn{
    background-color :  white;
    border-radius : 30px;
    text-align: center;
    height: 50px;
    width: 130px;
    line-height: 50px;
}
.signup-btn:hover{
    background-color: #b7d4f5;
}
.signup-btn > a, .signup-btn > a:hover{
    margin: auto;
    color : #4d94e4;
}


/*logo designing*/
.logo{
    width: 280px;
    display: inline-block;
    float: left;
    padding-left: 40px;
}
.logo:hover{
    opacity: 0.5;
    cursor : pointer;
}
/*header-mid*/
.header-mid{
    color: white;
    font-size: 49px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
}
.header-mid > button{
    background-color :  white;
    color: #4d94e4;
    border: 2px solid white;
    border-radius : 55px;
    text-align: center;
    height: 55px;
    width: 215px;
    line-height: 55px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 23px; 
    cursor: pointer;  
}
/*putting tablet image at bottom of header*/
.header-tablet > img{
    max-width: 47%;
    margin-top: 50px;
    position: absolute;
    left: -100px;
    z-index: 2;
}
/*making header bottom right corner white in triangle shape*/
.white-triangle{
    background-color: white;
    float:right;
    position: absolute;
    right:0;
    bottom: 0;
    width: 0;
	height: 0;
	border-left: 900px solid  #4890e4;
    border-bottom: 200px solid transparent;
}

/*----------------header section ends-------------------*/

/*----------------main section starts-------------------*/

main > .main-top{
    height: 250px;
}
main > .main-top > p{   
    width: 35%;
    position: absolute;
    right: 100px;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #4A4A4A;
    font-weight: 300;
    font-style: normal;
}
.main-display{
    padding-left: 15%;
    padding-right: 15%;
}
.main-display-content > h1{
    color:#374249;
    font-weight: 700;
    line-height: 1.3;
    width: 48%;
}
.main-display-content > p{
    color:#4A4A4A;
    font-weight: 300;
    line-height: 32px;
    font-size:1rem;
    width: 20%;
}

/* box lists */
.box-list-left, .box-list-middle, .box-list-right{
    display: inline-block;
    width: 310px;
    text-align: center;
    
}
.box{
    display: block;
    width: 300px;
    margin: 5% 2%;
    height: 350px;
    background-color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 35px;
    position: relative;

}
.box:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.03);
    

}
.box-list-left{
    position: relative;
    top: -360px;
}
.box-list-middle{
    position: relative;
    top: -100px;
}
.box-list-right{
    position: relative;
    top: -200px;
}

/*individual boxes*/
.left-a  {
    background-color: #38454E;
}
.left-a .box-content{
    color: white;
}
.left-b{
    background-color: white;
}
.left-b .box-content{
    color: #4A4A4A;
}
.middle-a{
    background-color: white;
}
.middle-a .box-content{
    color:#4A4A4A;
}
.middle-b{
    background-color: #ebb129;
}
.middle-b .box-content{
    color: white;
}
.middle-c{
    background-color: #4990e2;
}
.middle-c .box-content{
    color: white;
}
.right-a{
    background-color: #4990e2;
}
.right-a .box-content{
    color: white;
}
.right-b{
    background-color: white;
}
.right-b .box-content{
    color: #4A4A4A;
}
.right-c{
    background-color: #38454e;
}
.right-c .box-content{
    color: #FFFFFF;
}
/* box images*/
.box-img-container{
    display: block;
}
.box-img{
    float:left;
}

.box-content{
    position: relative;
    top: 100px;
    text-align: left;
    padding-left:0px;
    margin-left: 0px;
}
.box-content > p{
    line-height: 32.2px;
}
/*main bottom*/
.bottom{
    height: 460px;
    background-color: #38454e;
}
.bottom-content{
    padding: 6% 15%;
    color: white;
}
.bottom-content > h1{
    font-size: 35px;
    font-weight: 700px;
    line-height: 1.1;
    padding-bottom: 20px;

}
.bottom-box-a, .bottom-box-b, .bottom-box-c{
    display: inline-block;
    width: 33%;
    text-align: center;
}
.bottom-img-container{
    text-align: center;
    height: 59px;
    line-height: 59px;

}

/*----------------main section ends-------------------*/

/*footer section starts*/
.footer-top{
    height: 400px;
    margin-top: 35px;
    padding-top: 7%;
    padding-left: 9%;
    padding-right: 9%;
    margin: 0% 10%;
    text-align: center;
    background-image: url('../img/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-content > h1{
    color: #4990E2;
    font-size: 35px;
    font-weight: 700px;
    line-height: 1.1;
}
.footer-content > p{
    color: #4A4A4A;
    font-size: 1rem;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 20px;
}
.footer-content > button{
    background-color :  #4990E2;
    color: white;
    border: 2px solid white;
    border-radius : 55px;
    text-align: center;
    height: 55px;
    width: 215px;
    line-height: 55px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 23px; 
    cursor: pointer; 
}
.footer-content > button:hover{
    background-color: #3C78BE;
    opacity: 1;
}
/*footer links*/
footer{
    text-align: center;
}
footer  ul  li{
    display: inline-block;
    padding-left: 20px;
}
.footer-links > ul > li > a{
    text-decoration: none;
    color: #C3C2C2;
    font-size: 0.85714rem;
    font-weight: 700;
    cursor: pointer;
}
.footer-links > ul > li > a:hover{
    color: #222222;
}
/*social links*/
.social-links > ul > li > a > img{
    width: 25px;
    height: auto;
}
.email, .rights > p{
    padding: 0px;
}
.rights > p{
    color: #4A4A4A;
    opacity: 0.4;
    font-size: 0.71429rem;
    line-height: 1rem;
    font-weight: 300;
}
/*footer section ends*/

/*chat button*/
.chat{
    position: fixed;
    bottom: 15px;
    right: 0px;
}